body {
  font-family: Arial, sans-serif;
  background-color: #222222;
  color: #fff;
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 14px;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  overflow-x: auto;
  flex: 1;
  margin-bottom: 30px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: #950101;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #550000;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2b2d30;
  font-size: 0.9em;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #444;
  white-space: nowrap;
}

th {
  background-color: #555;
  cursor: pointer;
}

th:hover {
  background-color: #666;
}

#navbar {
  background-color: #2b2d30;
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#navbar.show {
  transform: translateY(0);
}

footer {
  background-color: #2b2d30;
  padding: 10px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-buttons {
    margin-top: 10px;
  }

  table {
    font-size: 0.8em;
  }

  th, td {
    padding: 6px;
  }

  /* New styles for mobile */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    display: inline-block;
    min-width: 150px; /* Adjust this value as needed */
  }
}